<div class="columns has-background-white" style="border-bottom:1px dashed #D3D3D3">
  <div class="column is-2 bg-dark">
    <div class="pl3 pr1">
      <%= render 'panel' %>
    </div>
  </div>
  <div class="column is-9 pl6" style="border-left:1px dashed #D3D3D3">
    <section class="hero">
      <div class="hero-body">
        <div class="card">
          <div class="card-content">
            <form class="field" method="get">
          <div class="control has-icons-left has-icons-right search-field">
              <input class="input is-medium is-hovered" id="search" type="text" placeholder="Tìm theo tên và mô tả" name="search" v-model="search" /><span class="icon is-medium is-left"><i class="fa fa-search"></i></span>                  
              <span class="icon is-medium is-right">
                    <i class="delete is-medium clear-search" onclick="document.getElementById('search').value = ''" v-if="search.length"></i>
              </span>
          </div>
          </form>
         <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Sắp xếp theo:</span>
              <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu is-small" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Được đăng trong hôm nay
              </a>
              <a href="#" class="dropdown-item">
                Được đăng trong tuần này
              </a>
              <a href="#" class="dropdown-item">
                Được đăng trong tháng này
              </a>
              <a href="#" class="dropdown-item">
                Có nhiều sao nhất
              </a>
              <a href="#" class="dropdown-item">
                Có ít sao nhất
              </a>
            </div>
          </div>
        </div> 
    
   <!-- <div class="control has-icons-left">
          <div class="select is-small">
            <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value)">
            <option selected>Giới tính: Tất cả</option>
            <option value="#">Giới tính: Nam</option>
            <option value="#">Giới tính: Nữ</option>
            </select>
          </div>
          <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
          </span>
      </div> -->

      <div style="float:right">
        <label class="radio">
          <input type="radio" name="remote">
          Chỉ việc làm từ xa
        </label>
        <label class="radio">
          <input type="radio" name="gender">
          Nam
        </label>
        <label class="radio">
          <input type="radio" name="gender">
          Nữ
        </label>
        </div>
        
          </div>
          </div>
      </div>
      </section>
      <div class="columns border-bottom pt2"></div>
    <% @jobs.each do |job| %>
    <div class="columns border-bottom pt2">
      <div class="column is-1">
        <% if !job.avatar.file.nil? %>
          <%= link_to image_tag(job.avatar_url(:thumb), alt: job.job_author, width: 100, height: 100), job.url %>
        <% end %>
      </div>
      <div class="column is-8">
        <h3 class="title is-4 index-title"><%= link_to job.title, job %><% if job.remote_ok? %><li class="inline-block f6 ph2"><i class="fa fa-wifi"></i></li><% end %></h3>
          <ul>
            <li><p class="subtitle is-6 has-text-link"><%= job.job_author %></p></li>
          </ul>
        <div class="pv2 f6">
          <%= sanitize(job.description.truncate(200, separator: '</p>')) %>
        </div>
        <% if current_user.try(:admin) || job_author(job) %>
          <ul class="pv3">
            <li class="inline-block f6">Quyền của người đăng: </li>
            <li class="inline-block">
              <%= link_to raw("<span class=\"icon is-small\"><i class=\"fa fa-eye\"></i></span>"), job, class: "button is-small is-outlined" %></li>
            <li class="inline-block">
              <%= link_to raw("<span class=\"icon is-small\"><i class=\"fa fa-pencil\"></i></span>"), edit_job_path(job), class: "button is-small is-outlined" %></li>
            <li class="inline-block">
              <%= link_to raw("<span class=\"icon is-small\"><i class=\"fa fa-trash\"></i></span>"), job, method: "delete", data: { confirm: 'Bạn có chắc là muốn xóa công việc này?'}, class: "button is-small is-outlined" %></li>
            <li class="inline-block">
              <%= link_to raw("<span class=\"icon is-small\"><i class=\"fa fa-external-link-square\"></i></span>"), job, target: :_blank, class: "button is-small is-outlined" %></li>
          <% else %> 
            <li class="inline-block f6">Quyền của người xem: </li>
            <li class="inline-block">
              <%= link_to raw("<span class=\"icon is-small\"><i class=\"fa fa-external-link-square\"></i></span>"), job, target: :_blank, class: "button is-small is-outlined" %></li>
            </ul>
            <li class="inline-block">
             <%= link_to raw("<span class=\"icon is-small\"><i class=\"fa fa-bookmark\"></i></span>"), new_user_session_path, class: "button is-small is-outlined" %></li>
            <li class="inline-block">
             <%= link_to raw("<span class=\"icon is-small\"><i class=\"fa fa-star\"></i></span>"), new_user_session_path, class: "button is-small is-outlined" %></li>
            </ul>
        <% end %>
        </div>
        
        <div class="column has-text-right">
              <span class="tag is-dark">Đại học</span>
            <%= job_type(job.job_type) %>
          <p class="pt2 f6"><i class="fa fa-map-marker"></i> <%= job.location %></p>
          <p class="pt2 f6"><i class="fa fa-calendar"></i> <%= job.job_deadline.to_date %></p>
          <p class="pt2 f6"><i class="fa fa-usd"></i> <%= job.job_salary %></p>
        </div>
      
      </div>
    <% end %>
  </div>
</div>